<div class="card ml-4">
    <div class="card-header">{{ room.name }}</div>
    <img src="assets/images/{{ room.image }}"
        alt="trip thumbnail" class="card-img-top">
    <div class="card-body">
         <p class="card-subtitle mt-3 mb-3 text-muted">
             {{room.room_rate}}
        </p>
        <p class="card-text" [innerHTML]="room.description">
        </p>
        <div>
        <div *ngIf="isLoggedIn()">
            <button (click)="editRoom(room)" class="btn btn-info">Edit Room</button>
        </div>
    </div>
</div>