<!-- <p>add-room.component works!</p> -->
<div class="col-md-4">
    <h2 class="text-center">Add Room</h2>
    <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Name:</label>
            <input type="text" formControlName="name"
                placeholder="Name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
            <div *ngIf="submitted && f['name'].errors">
                <div *ngIf="f['name'].errors?.['required']">
                    Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Image Name:</label>
            <input type="text" formControlName="image"
                placeholder="Image" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['image'].errors }">
            <div *ngIf="submitted && f['image'].errors">
                <div *ngIf="f['image'].errors?.['required']">
                    Image Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Alternative Name:</label>
            <input type="text" formControlName="alt_name"
                placeholder="Alternative Name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['alt_name'].errors }">
            <div *ngIf="submitted && f['alt_name'].errors">
                <div *ngIf="f['alt_name'].errors?.['required']">
                    Alternative Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Description:</label>
            <input type="text" formControlName="description"
                placeholder="Description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
            <div *ngIf="submitted && f['description'].errors">
                <div *ngIf="f['description'].errors?.['required']">
                    Description is required
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>
</div>