<div class="card ml-4">
    <div class="card-header">{{ meal.name }}</div>
    <img src="assets/images/{{ meal.image }}"
        alt="trip thumbnail" class="card-img-top">
    <div class="card-body">
         <p class="card-subtitle mt-3 mb-3 text-muted">
             {{meal.alt_name}}
        </p>
        <p class="card-text" [innerHTML]="meal.description">
        </p>
        <div>
        <div *ngIf="isLoggedIn()">
            <button (click)="editMeal(meal)" class="btn btn-info">Edit Meal</button>
        </div>
    </div>
</div>
